
server:
  port: 9001
  tomcat:
    connection-timeout: 2s #temps max entre l'établissement de la connexion TCP avec un client et la réception de la 1ere req http
    keep-alive-timeout: 15s #durée max d'ouverture de la connexion pour attendre de nouvelles requêtes http
    threads:
      max: 50 #nb max de threads dans le pool - au-delà, les requêtes http sont mises en pool
      min-spare: 5  #nb min de thread toujours presents dans le pool, donc créés au démarrage
  #shutdown déclenché quand un SIGTERM est reçu par le serveur
  shutdown: graceful # défaut immediate - graceful : plus de cnx entrante / finalisation du traitement des req en cours / arrêt des ressources
spring:
  application:
    name: catalog-service # utilisée par le config-server pour filtrer/retrouver la configuration destinée à cette application
  # temps max pour que l'application Spring complète un graceful shutdown
  lifecycle:
    timeout-per-shutdown-phase: 15s
  config:
    #importation / récup des propriétés de config depuis un serveur de config quand il y en a 1 de dispo
    import: "" #"optional:configserver:"
  cloud:
    config:
      enabled: false #désactivation de l'intégration du client de configuration
      uri:  http://localhost:8888 #URI par défaut
      #resilience du client de config
      request-connect-timeout: 5000 #en ms - temps max pour établir une cnx avec le config server
      request-read-timeout: 5000 #temps max pour que le container lise la config pour configurer le(s) bean(s)
      fail-fast: false #true pour que le retry soit mis en oeuvre pour recontacter le config server
      retry:
        #utilisation des vals par défaut
        max-attempts: 20 #j'ai mis 20 au lieu de 6 (val par défaut) pour tester le retry
        initial-interval: 1000 # en ms. interval de temps écoulé avant la 1ere nouvelle tentative (retry)
        max-interval: 2000 #interval max pour une tentative - délai à ne pas excéder
        multiplier: 1.1 # facteur pour calculer le délai qui doit s'écouler avant la tentative suivante
  datasource:
    username: user
    password: password
    url: jdbc:postgresql://localhost:5432/polardb_catalog
    hikari:
      connection-timeout: 2000 #temps max pour recevoir un obj Connection depuis le pool
      maximum-pool-size: 5
  security:
    oauth2:
      resourceserver: #catalog-service est un resource server qui communique avec Keycloak pour obtenir une clé afin de valider la signature de l'access token reçu en entête de requête entrante
        jwt: # il faut explicité le format JWT de l'access token car OAuth2 n'impose pas de format
          issuer-uri: http://localhost:8080/realms/PolarBookshop #point de terminaison Keycloak - base pour accéder au JWK set

#déclaration d'une propriété d'info retournée par l'EP /actuator/info
info:
  system: Polar Bookshop

#gestion des EP /actuator/*
management:
  endpoints:
    web:
      exposure:
        include: refresh, health, prometheus, flyway, info, heapdump
  endpoint:
    health:
      show-details: always
      show-components: always
      #activation des EP /actuator/health/liveness et readiness
      probes:
        enabled: true
  #tag des métriques exposées avec une clé/valeur application=nom app
  metrics:
    tags:
      applications: ${spring.application.name}
  info:
    env:
      enabled: true
    os:
      enabled: true
    java:
      enabled: true

#customisation des infos de logging : ajout d'infos après le log level (%5p)
logging:
  pattern:
    level: "%5p [${spring.application.name},%X{trace_id},%X{span_id}]"

polar:
  greeting: "Welcome to the local book catalog !"
